header {
  width: 100%;
  min-width: 600px;
  box-sizing: border-box;
  height: 500px;
  background:url(../images/p2.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  float: left;
}
header section{
  width: 80%;
  float: left;
}
header section div{
  margin-top: 15%;
  margin-left: 50%;
  width: 295px;
  height: 136px;
  background:url(../images/logo2.png);
  background-size: 100% 100%;
}

header section + section{
  width: 20%;
  float: left;
}

header section + section div{
  margin: 0;
  padding: 0;
  width: 236px;
  height: 116px;
  background:url(../images/hk.png);
  background-size: 100% 100%;
  float: left;
}

#top{
	margin-top: 10%;
	float: left;
}
#top article{
	margin:1%;
	width: 31%;

	float: left;
}
#top article > div{
	width: 100%;
	margin-left: 45%;
	float: left;
}
#top article > h2{
	width: 100%;
  	text-align: center;
	float: left;
}
#top article p{
	width: 100%;
	float: left;
}

#top article > a{
	width: 100%;
	text-align: center;
	float: left;
}
#news{
	margin-top: 10%;
	width: 100%;
	height: 100%;
	float: left;
}
#news article{

	width: 60%;
	float: left;
}
#news article + article{

	width: 40%;
	float: left;
}
#news article + article div{
	margin: 5%;
	padding: 5%;
	width: 295px;
  	height: 136px;
  	background:url(../images/logo2.png);
  	background-size: 100% 100%;
}


#news article + article div{
	margin: 5%;
	padding: 5%;
	width: 295px;
  	height: 136px;
  	background:url(../images/logo2.png);
  	background-size: 100% 100%;
}

footer {
  background-color: #0D093E ;
  width: 100%;
  height: 300px;
  min-width: 600px;
  box-sizing: border-box;
  float: left; 
}
/*all footer section has got 80% of height*/
footer section{
  width: 100%;
  height: 80%;
  float: left; 
}
/* but the second footer section has got only 20% of height*/
footer section + section{
    height: 20%;
    float: left; 
}
/*each article into each section should have 50% of width*/
footer section article{
  width: 50%;
  height: 100%;
  float: left; 
}
/*the div tag into the second article in 
the first section should have margins left and top*/
#footerLogo{
  margin-left: 35%;
  margin-top: 8%;
  width: 295px;
  height: 136px;
  background:url(../images/logo2.png);
  background-size: 100% 100%;
  float: left; 
}
footer section article + article div{
  
}
/* the fist div into the first article 
in the first section must give a margin*/
footer section article div{
  color: white;
  margin-left: 50%;
  margin-top: 10%;
  float: left;
}
/* each element into the fist div into 
the first article in the first section must give a space between*/
footer section article div a{
  margin: 1%;
  padding: 1%;
  float: left;
}
/*the div into the second section of the footer
should give a margin on the left size*/
footer section + section div {
  margin-left: 36%;
}
/*the a elements into the second section of the footer
must have a left margin 
*/
footer section + section a {
  margin-left: 6%;
  float: left;
}